



.table-mobile{

    margin: 20px 0 0 0;

    border-radius: 10px !important;
    border:  none !important;
    background-color: black;

}

#content > div.container.tableMobile-container > table > tbody > tr:nth-child(n) > td:nth-child(3){
color: rgb(96, 223, 96);
    
}