<div class=" card-container card bg-dark col-3 mx-2 my-3 text-white" style="width: 18rem;">

 <div class="card-header d-flex gradient-card-header align-items-center">
  <img class="me-3" width="50" height="50" src="https://fluffy-cranachan-6ab1b4.netlify.app/Resources/Body/Top%20torrent/top%20movies.png">
  <h5 class="mt-2" >Movie</h5>
 </div>
  <div class="card-body">

    <table class="table table-dark  table-borderless table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col">Magnet</th>
        </tr>
      <tbody>
        <tr >
          <td colspan="4" >Star War </td>
          <td class="w-25">1.2 GB</td>
        </tr>
        <tr>
          <td colspan="4" >Star War </td>
          <td>1.2 GB</td>
        </tr>
        <tr>
          <td colspan="4" >Star War </td>
          <td>1.2 GB</td>
        </tr>
        <tr>
          <td colspan="4" >Star War </td>
          <td>1.2 GB</td>
        </tr>
        <tr>
          <td colspan="4" >Star War </td>
          <td>1.2 GB</td>
        </tr>
        <tr>
          <td colspan="4" >Star War </td>
          <td>1.2 GB</td>
        </tr>
        <tr>
          <td colspan="4" >Star War </td>
          <td>1.2 GB</td>
        </tr>
        <tr >
          <td colspan="4" >Star War </td>
          <td>1.2 GB</td>
        </tr>
        <tr>
          <td colspan="4" >Star War </td>
          <td>1.2 GB</td>
        </tr>
        <tr>
          <td colspan="4" >Star War </td>
          <td>1.2 GB</td>
        </tr>
        <tr>
          <td colspan="4" >Star War </td>
          <td>1.2 GB</td>
        </tr>
        <tr>
          <td colspan="4" >Star War </td>
          <td>1.2 GB</td>
        </tr>
        <tr>
          <td colspan="4" >Star War </td>
          <td>1.2 GB</td>
        </tr>
        <tr>
          <td colspan="4" >Star War </td>
          <td>1.2 GB</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<style>
  img{
    pointer-events: none;
  }
  .card-container{
    height: 95%;
  }
  .gradient-card-header {
    background-image: linear-gradient(to left, #455d7a 0%, #455d7a 100%);
  }
</style>
