

<div class="d-flex justify-content-center" style="position:relative;top:-150px; ;">

    <lottie-player 
    src="/Resources/Loading/paper plane.json" 
    background="transparent"  
    speed="1"  
    style="width:clamp(400px,100vw,600px); height: clamp(400px,100vh,600px);" 
    loop  autoplay
    >

</lottie-player>


</div>
@code {

}
